body { margin:0; overflow:hidden; background:#001; font-family:'Courier New',monospace; }
canvas { display:block; }

.hud-panel{
    position:fixed;
    top:10px; left:10px;
    background:rgba(0,0,0,0.7);
    color:white; padding:10px; border-radius:12px;
    box-shadow:0 0 15px rgba(0,255,136,0.5);
}

#minimap{
    position:fixed; bottom:10px; right:10px;
    width:250px; height:180px;
    border:2px solid #00ff88;
    background:black;
}
